<div class="card mb-4">
    <div class="card-body">
        <h3>{{#str}}myanalytics, videotrackerpro{{/str}}</h3>
        <div class="row g-3">
            <div class="col-md-3"><strong>{{percent}}%</strong><div>{{#str}}percent, videotrackerpro{{/str}}</div></div>
            <div class="col-md-3"><strong>{{watchtime}}</strong><div>{{#str}}watchtime, videotrackerpro{{/str}}</div></div>
            <div class="col-md-3"><strong>{{sessions}}</strong><div>{{#str}}sessions, videotrackerpro{{/str}}</div></div>
            <div class="col-md-3"><strong>{{currenttime}}</strong><div>{{#str}}lastpoint, videotrackerpro{{/str}}</div></div>
        </div>
    </div>
</div>
