<div class="card mb-3">
    <div class="card-body">
        <h4>{{#str}}sessiontimeline, videotrackerpro{{/str}} <small class="text-muted">{{sessionid}}</small></h4>
        <div class="small text-muted mb-2">{{started}}</div>
        <pre class="mb-0 text-wrap">{{events}}</pre>
    </div>
</div>
